pyrogram>=1.2.6
tgcrypto>=1.2.2
configparser>=5.0.2
sqlalchemy>=1.4.5
psycopg2-binary>=2.8.6
bleach>=3.3.0
markdown2>=2.4.0
emoji>=1.2.0
aiohttp[speedups]
aiofiles>=0.6.0
speedtest-cli>=2.1.2
psutil>=5.8.0
spamwatch>=0.3.0
nekobin>=0.0.3
nekos.py>=1.0.3
deezloader>=2020.11.26
tswift>=0.7.0
google_trans_new>=1.1.9
gtts>=2.2.2
pytz>=2021.1
jikanpy>=4.3.1
wikipedia>=1.4.0
